@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
    --font-bilmond: var(--font-bilmond);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.shachiru-text {

  -webkit-text-stroke: 1px #fff;

  filter:
    drop-shadow(0 4px 2px rgba(0, 0, 0, 0.15));
    
 background-color: #cececee3;
  color: transparent;
  text-shadow: 0px 0px 12px rgb(255, 255, 255);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  animation: neonFlicker 12s forwards;        

}



@keyframes neonFlicker {
  /* Initial white state */
  0%,
  30% {
    text-shadow: 0px 0px 12px rgb(255, 255, 255);
     background-color: #cececee3;
  }

  /* Flicker off */
  31% {
    text-shadow: 0px 0px 12px rgb(172, 94, 224);
     background-color: #7B2CF5;
  }

  /* Flicker on */
  44% {
  text-shadow: 0px 0px 12px rgb(255, 255, 255);
       background-color: #cececee3;
  }

  /* Flicker off again */
  48% {
     text-shadow: 0px 0px 12px rgb(172, 94, 224);
         background-color: #7B2CF5;
  }

  /* Final neon ignition */
  55% {
     text-shadow: 0px 0px 12px rgb(255, 255, 255);
  }

  /* Stable purple gradient neon */
  100% {
   text-shadow: 0px 0px 12px rgb(172, 94, 224);
       background-color: #7B2CF5;
  }
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}